body {
  background: $primary;

  color: $secondary;
  font-family: $font-family;
  font-size: $font-size;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 30px;
}

a {
  color: $secondary;
  text-decoration: none;
}

button {
  cursor: pointer;
}

a, button, input {
  &:focus {
    outline: none;
  }
}
