body {
  background: $primary;

  color: $secondary;
  font-family: $font-family;
  font-size: $font-size;

  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body [data-transform] {
  overflow: visible;
}

h1 {
  font-size: 30px;
}

a {
  color: $secondary;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

a, button, input {
  &:focus {
    outline: none;
  }
}
