body {
  background: $primary;

  color: $secondary;
  font-family: $font-family;
  font-size: $font-size;

  overflow: hidden;
}

h1 {
  font-size: 30px;
}

a {
  color: $secondary;
  text-decoration: none;
}
