@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin grid($column) {
  width: ((100 / $grid-columns) * $column) - ($grid-gutter-width * 2);
}

@mixin offset($column) {
  margin-left: ((100 / $grid-columns) * $column) - ($grid-gutter-width * 2);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin sprite-background($name) {
  background-image: sprite-url($icons);
  background-position: 0 round(nth(sprite-position($icons, $name), 2) / 2);
  height: round(image-height(sprite-file($icons, $name)) / 2);
  width: round(image-width(sprite-file($icons, $name)) /2 );

  @include background-size(38px 162px);
}
