$grid-columns: 60;
$grid-gutter-width: .5%;

$sm: 600px;
$md: 769px;
$lg: 900px;
$xl: 1100px;


$font-family: "Helvetica Neue", Helvetica, sans-serif;
$font-size: 13px;

$primary: #000;
$secondary: white;
$thirth: #919191;
$fourth: #3d3d3d;
$fifth: #707070;
$sixth: #f6f6f6;
