$grid-columns: 10;
$grid-gutter-width: .5%;
$max-width-tablet: 769px;
$max-width-mobile: 321px;

$font-family: "Helvetica Neue", Helvetica, sans-serif;
$font-size: 13px;

$primary: #000;
$secondary: white;
$thirth: #919191;
$fourth: #3d3d3d;
