#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 122px;
}

.layout-page {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;

  background: $primary;

  z-index: 1;

  @include box-shadow(0 0 15px rgba(0, 0, 0, .5));
  @include transition(all .3s ease);

  &.is-active {
    left: 0;
  }
  &.is-moved {
    left: 20%;
  }
}

.layout-aside {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 0px;

  background: $fourth;
}

.layout-header {
  border-bottom: 1px solid $thirth;
  height: 40px;
  margin: 0 1%;
  padding: 20px 0;

  @include clearfix;

  .logo-image {
    display: block;
    float: right;
    margin: 9px 0;
  }

  .toggle-aside {
    float: left;
  }

  .icon-menu {
    margin-top: 8px;
  }

  h1 {
    float: left;
    margin: 0 0 0 20px;

    line-height: 40px;
  }
}

.layout-toolbar {
  height: 40px;
  border-bottom: 1px solid $thirth;
  margin: 0 1%;
}

.layout-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 130px;

  overflow: auto;
}


@media screen and (max-width: $sm) {
  .layout-aside.is-active {
    width: 80%;
  }
  .layout-page.is-moved {
    left: 80%;
  }
  .layout-header {
    padding: 6px 0;

    h1 {
      font-size: 20px;
      margin-left: 10px;
    }
  }
}

@media screen and (min-width: $sm) {
  .layout-aside.is-active {
    width: 50%;
  }
  .layout-page.is-moved {
    left: 50%;
  }
}

@media screen and (min-width: $md) {
  .layout-aside.is-active {
    width: 30%;
  }
  .layout-page.is-moved {
    left: 30%;
  }
}
