.layout-page-header {
  background: $primary;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  min-width: 320px;
  height: 122px;
  z-index: 1000;

  @include transition(all .3s ease);

  .layout-page.is-active > & {
    left: 0;
  }
}

.layout-page {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;

  background: $primary;

  z-index: 1;

  @include transform(translateX(100%));
  @include box-shadow(0 0 15px rgba(0, 0, 0, .5));
  @include transition(all .3s ease);

  &.is-active {
    @include transform(translateX(0));
  }
  &.is-moved {
    @include transform(translateX(20%));
  }
}

.layout-aside {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: 0px;

  background: $fourth;

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @include transition(all .3s ease);

  &.is-active {
    width: 20%;
  }
}

.layout-header {
  border-bottom: 1px solid $thirth;
  height: 40px;
  margin: 0 1%;
  padding: 20px 0;

  @include clearfix;

  .logo-image {
    display: block;
    float: right;
    margin: 9px 0;
  }

  .toggle-aside {
    float: left;
  }

  .icon-menu, .icon-back {
    display: inline-block;
    vertical-align: -1px;
    margin-right: 5px;
  }

  .icon-back {
    vertical-align: -7px;
  }

  h1 {
    float: left;
    margin: 0;

    line-height: 40px;
  }
}

.layout-toolbar {
  height: 40px;
  border-bottom: 1px solid $thirth;
  margin: 0 1%;
}

.layout-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 122px;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


@media screen and (max-width: $sm) {
  .layout-page-header {
    height: 132px;
    #mapView > & {
      height: 95px;
    }
  }
  .layout-aside.is-active {
    width: 80%;
  }
  .layout-page.is-moved {
    @include transform(translateX(80%));
  }
  .layout-header {
    padding: 6px 0;

    h1 {
      font-size: 20px;
    }

    .icon-menu {
      vertical-align: -4px;
    }

    .icon-back {
      vertical-align: -11px;
    }
  }
  #mapView .layout-content {
    top: 95px;
  }
}

@media screen and (min-width: $sm) {
  .layout-aside.is-active {
    width: 50%;
  }
  .layout-page.is-moved {
    @include transform(translateX(50%));
  }
}

@media screen and (min-width: $md) {
  .layout-aside.is-active {
    width: 30%;
  }
  .layout-page.is-moved {
    @include transform(translateX(30%));
  }
}

@media screen and (min-width: $lg) {
  .layout-aside.is-active {
    width: 25%;
  }
  .layout-page.is-moved {
    @include transform(translateX(25%));
  }
}

@media screen and (min-width: $xl) {
  .layout-aside.is-active {
    width: 20%;
  }
  .layout-page.is-moved {
    @include transform(translateX(20%));
  }
}
