.row {
  margin: 0 $grid-gutter-width;
  .row {
    margin: 0 ($grid-gutter-width * -1);
  }

  @include clearfix();
}

%grid {
  display: block;
  float: left;
  margin: 0 $grid-gutter-width;
}

@for $column from 1 through $grid-columns {
  .grid-#{$column} {
    @extend %grid;
    @include grid($column);
  }
}

@for $column from 1 through $grid-columns {
  .grid-offset-#{$column} {
    @include offset($column);
  }
}

@media screen and (min-width: $max-width-mobile) and (max-width: $max-width-tablet) {
  @for $column from 1 through $grid-columns {
    .grid-md-#{$column} {
      @include grid($column);
    }
  }

  .md-hidden {
    display: none !important;
    visibility: hidden;
  }
}

@media screen and (max-width: $max-width-mobile) {
  @for $column from 1 through $grid-columns {
    .grid-sm-#{$column} {
      @include grid($column);
    }
  }

  .sm-hidden {
    display: none !important;
    visibility: hidden;
  }
}
