<div class="mod-infowindow">
  <a href="#close" class="icon icon-infowindow-close close"></a>
  <header class="mod-infowindow-header">
    <h2>{{name}}</h2>
  </header>
  <div class="mod-infowindow-content">
    <table>
      {{#if previous}}
        <td>
          <strong>Current</strong><br>
          {{#if current}}{{current}}{{else}}0{{/if}}
        </td>
        <td><strong>Previous</strong><br>{{previous}}</td>
      {{/if}}
      <td class="mod-infowindow-value">
        {{#if last_monthdayyear}}
          {{plus last_monthdayyear}}%
        {{else}}
          {{#if current}}{{current}}{{else}}0{{/if}}
        {{/if}}
      </td>
    </table>

  </div>
</div>
