<div class="mod-infowindow">
  <a href="#close" class="icon icon-close close"></a>
  <header class="mod-infowindow-header">
    <h2>{{name}}</h2>
  </header>
  <div class="mod-infowindow-content">
    <table>
      {{#previous}}
        <td>{{previous}}</td>
        <td>{{current}}</td>
      {{/previous}}
      <td class="mod-infowindow-value">
        {{#last_monthdayyear}}
          {{last_monthdayyear}}%
        {{/last_monthdayyear}}
        {{^last_monthdayyear}}
          {{current}}
        {{/last_monthdayyear}}
      </td>
    </table>
  </div>
</div>
