<div class="mod-infowindow">
  <a href="#close" class="icon icon-infowindow-close close"></a>
  <header class="mod-infowindow-header">
    <h2>{{name}}</h2>
  </header>
  <div class="mod-infowindow-content">
    <table>
      <td class="mod-infowindow-value">
        {{#if current}}{{commas current '%1$s'}}{{else}}0{{/if}}
      </td>
    </table>
  </div>
</div>
