<div class="mod-toolbar-item">
  <span class="mod-toolbar-label">Timeframe</span>
  <ul class="mod-toolbar-selector">
    <li>
      <span class="current">Latest Raw Data</span>
      <ul class="mod-toolbar-options">
        <li><a href="#" data-filter="period" data-value="raw">Latest Raw Data</a></li>
        {{#if mmddyy}}
          <li><a href="#" data-filter="period" data-value="mmddyy">Last Month/Week/Day</a></li>
        {{/if}}
      </ul>
    </li>
  </ul>
</div>
