.mod-aside-content {
  padding: 51px 0;
  position: relative;

  .icon-close {
    position: absolute;
    right: 20px;
    top: 28px;
  }

  ul {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    border-top: 1px solid $seventh;
  }

  li {
    font-weight: bold;
    font-size: 16px;
  }

  a {
    display: block;
    padding: 7px 20px;
    border-bottom: 1px solid $seventh;
    color: $fifth;

    @include transition(all .3s ease);

    &:hover, &:active, &.current {
      color: $secondary;
    }
  }
}

@media screen and (max-width: $sm) {
  .mod-aside-content {
    padding-top: 23px;
    .icon-close {
      top: 14px;
    }
  }
}
