.icon {
  display: block;
  background: no-repeat;
}

button.icon {
  border: 0;
  padding: 0;
  -webkit-appearance: none;
}

.icon-menu {
  height: 23px;
  width: 28px;

  background-image: image-url("assets/icon-menu.png");
  background-size: 28px 23px;
}

.icon-close {
  width: 23px;
  height: 23px;

  background-image: image-url("assets/icon-close.png");
  background-position: center center;
  background-size: 23px 23px;
}

.icon-back {
  width: 37px;
  height: 37px;

  background-image: image-url("assets/icon-back.png");
  background-position: center center;
  background-size: 37px 37px;
}
