.icon {
  display: block;
  background-color: inherit;
  background-repeat: no-repeat;
}

button.icon {
  border: 0;
  padding: 0;
  -webkit-appearance: none;
}

.icon-menu {
  @include sprite-background(icon-menu);
}

.icon-close {
  @include sprite-background(icon-close);
  height: 23px;
}

.icon-infowindow-close {
  @include sprite-background(icon-infowindow-close);
}

.icon-back {
  @include sprite-background(icon-back);
}

.icon-basic_services {
  @include sprite-background(icon-basic-services);

  .mod-indicators-item[data-agency="311"] & {
    @include sprite-background(icon-public);
  }
}

.icon-equality_measure {
  @include sprite-background(icon-equality-measure);
}

.icon-public {
  @include sprite-background(icon-public);
}
