.icon {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
}

button.icon {
  border: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.icon-menu {
  @include sprite-background(icon-menu);
}

.icon-close {
  @include sprite-background(icon-close);
  height: 23px;
}

.icon-infowindow-close {
  @include sprite-background(icon-infowindow-close);
}

.icon-back {
  @include sprite-background(icon-back);
}

.icon-basic_services {
  @include sprite-background(icon-basic-services);
}

.icon-equality_measure {
  @include sprite-background(icon-equality-measure);
}

.icon-public_service {
  @include sprite-background(icon-public);
}
