.mod-indicators {
  @include clearfix;
}

.mod-indicators-item {
  position: relative;
  margin: 5px 0;
  padding: 10px;

  background: $thirth;

  color: $primary;

  cursor: pointer;

  @include clearfix;

  a {
    color: $primary;
  }

  h2 {
    height: 90px;
    margin: 0;
    padding: 30px 0 5px 0;

    font-size: 17px;
  }

  table {
    width: 100%;
    text-align: center;
  }

  th {
    font-weight: normal;
    font-size: 11px;
  }

  .mod-indicators-header, .mod-indicators-value, .mod-indicators-footer {
    border-bottom: 1px solid $primary;

    &:last-child {
      border-bottom: 0;
    }
  }

  .mod-indicators-frequency {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .mod-indicators-agency {
    display: block;
    padding: 3px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: darken($thirth, 10%);
  }

  .mod-indicators-value-item {
    display: block;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    line-height: 100px;
  }

}

@media only screen and (max-width: $max-width-tablet) {
  .mod-indicators-item {
    float: none;
    width: auto;

    .mod-indicators-header, .mod-indicators-footer {
      float: left;
      border-bottom: 0;
      border-right: 1px solid $primary;
      width: 48%;
    }
    .mod-indicators-value, .mod-indicators-footer {
      float: right;
      width: 25%;
    }
    .mod-indicators-value {
      border-bottom: 0;
      border-right: 0;
      width: 25%;
    }
  }
}

@media only screen and (max-width: $max-width-mobile) {
  .mod-indicators-item {
    .mod-indicators-header {
      width: 60%;
    }
    .mod-indicators-value {
      width: 30%;
    }
  }
}
