.mod-indicators {
  padding: 0 .5%;
  @include clearfix;
}

.mod-indicators-item {
  float: left;
  position: relative;
  margin: 5px .5%;
  &:hover {
    z-index: 100;
    @include transition(all .15s ease);
    @include transform(scale(1.02));
  }
}

.mod-indicators-content {
  position: relative;
  padding: 10px;

  background: $thirth;

  color: $primary;

  cursor: pointer;

  @include clearfix;

  a {
    color: $primary;
  }

  h2 {
    margin: 0;
    padding: 30px 0 5px 0;
    height: 90px;
    font-size: 17px;
  }

  table {
    width: 100%;
    text-align: center;
  }

  th {
    font-weight: normal;
    font-size: 11px;
  }

  td {
    font-size: 19px;
  }

  .mod-indicators-header, .mod-indicators-value, .mod-indicators-footer {
    border-bottom: 1px solid $primary;

    &:last-child {
      border-bottom: 0;
    }
  }

  .mod-indicators-frequency, .mod-indicators-agency {
    display: block;
  }

  .mod-indicators-agency {
    background-color: $primary;
    padding: 3px 10px;
    color: $secondary;
  }

  .mod-indicators-value-item {
    display: block;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
  }

}

@media only screen and (min-width: $xl) {
  .mod-indicators-item {
    width: 19%;
  }
}

@media only screen and (min-width: $lg) {
  .mod-indicators-item {
    width: 24%;
  }
}

@media only screen and (min-width: $md) {
  .mod-indicators-item {
    width: 32.33333%;
  }
  .mod-indicators-frequency {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .mod-indicators-agency {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

@media only screen and (max-width: $md) {
  .mod-indicators-item {
    float: none;
    width: auto;

    h2 {
      height: auto;
      font-size: 13px;
      font-weight: normal;
      padding-right: 10px;
    }

    table {
      margin-top: 10px;
    }

    td {
      font-size: 17px;
    }

    .mod-indicators-agency, .mod-indicators-frequency {
      float: left;
    }

    .mod-indicators-frequency {
      margin-left: 10px;
      margin-top: 3px;
    }

    .mod-indicators-header, .mod-indicators-footer {
      float: left;
      border-bottom: 0;
      border-right: 1px solid $primary;
      width: 49.5%;
      height: 65px;
    }
    .mod-indicators-value, .mod-indicators-footer {
      float: right;
      width: 25%;
    }
    .mod-indicators-value {
      border-bottom: 0;
      border-right: 0;
      width: 25%;
    }
    .mod-indicators-value-item {
      font-size: 40px;
      line-height: 65px;
    }
  }
}

@media only screen and (max-width: $sm) {
  .mod-indicators-item {
    h2 {
      height: 75px;
    }
    .mod-indicators-header {
      width: 78%;
      height: 75px;
    }
    .mod-indicators-value {
      width: 20%;
    }
    .mod-indicators-footer {
      display: none;
    }
    .mod-indicators-value-item {
      font-size: 20px;
      line-height: 75px;
    }
  }
}
