$infowindow-border-color: rgba(0, 0, 0, .2);

.mod-infowindow {
  position: absolute;
  background: $sixth;
  padding: 10px;
  bottom: 35px;
  left: -110px;
  width: 260px;
  color: $primary;
  outline: 3px solid $infowindow-border-color;

  .icon-infowindow-close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: transparent;
    border-top-color: $sixth;
    border-width: 20px;
    margin-left: -20px;
  }

  &:before {
    border-color: transparent;
    border-top-color: $infowindow-border-color;
    border-width: 24px;
    margin-left: -24px;
  }
}

.mod-infowindow-header {
  padding: 0 0 5px 0;

  h2 {
    margin: 0;
    font-size: 13px;
    padding-right: 30px;
  }
}

.mod-infowindow-content {
  padding: 5px 0 0 0;
  position: relative;
  border-top: 1px solid $primary;
  @include clearfix;

  table {
    width: 100%;
  }

  td {
    min-width: 60px;
    font-size: 19px;
    text-align: center;
    line-height: 20px;

    strong {
      font-size: 11px;
      line-height: 12px;
      font-weight: normal;
    }
  }

  .mod-infowindow-value {
    min-width: 120px;
    font-size: 37px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
  }

  td + .mod-infowindow-value {
    text-align: right;
  }

}
