div.cartodb-legend {
  background: $primary;
  border: 0;

  @include border-radius(0);
  @include box-shadow(none);



  &.custom ul li, ul li {
    display: block;
    height: auto;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;

    color: rgba(246, 246, 246, .5);
    font-weight: normal;

    .bullet {
      display: inline-block;
      float: none;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      @include border-radius(0);
    }
  }

  .colors {
    display: block;
    width: 200px;
    height: 15px;

    &.historical {
      @include background-image(linear-gradient(top right, #088246, #379d4e, #66b757, #95d25f, #b1de79, #cce994, #e8f5ae, #fff8c3, #fddc9f, #fbbe79, #faa052, #f8822c, #ef632b, #e7452b, #de262a));
    }
    &.non-historical {
      @include background-image(linear-gradient(top right, #344a5f, #4e647a, #687d94, #8397af, #9db0ca, #b7c9e4, #d1e3ff));
    }
  }

  .min, .max, .center {
    margin-bottom: 0;
  }

  .min {
    float: left;
  }
  .center {
    text-align: center;
  }
  .max {
    float: right;
  }
}

@media only screen and (max-width: $sm) {
  div.cartodb-legend {
    display: none !important;
  }
}
