.mod-map {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  background: $primary;

  z-index: 3;

  @include transition(all .15s ease);

  &.is-active {
    top: 0;
  }
}
