.mod-toolbar {
  @include clearfix;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mod-toolbar-item {
    float: left;
    margin-right: 40px;
    font-weight: bold;
  }

  .mod-toolbar-label, .mod-toolbar-selector {
    display: inline-block;
  }

  .mod-toolbar-label {
    color: $thirth;
    font-size: 11px;
    text-transform: uppercase;

    &:before {
      display: inline-block;
      content: ' ';
      margin-right: 5px;
      vertical-align: 1px;
      @include sprite-background(icon-caret-down);
    }
  }

  .mod-toolbar-selector {
    margin-left: 5px;
    & > li {
      position: relative;
      padding: 0;
      line-height: 20px;
    }

    font-size: 13px;

    .mod-toolbar-current {
      display: inline-block;
      padding: 10px 0;
      cursor: pointer;
    }
  }

  .mod-toolbar-options {
    max-height: 0;
    position: absolute;
    width: 205px;

    background: $fourth;

    overflow: hidden;
    z-index: 10;

    @include transition(all .3s ease);

    &.is-expanded {
      max-height: 300px;
    }

    li {
      display: block;
      margin: .5em 1em;
      padding: 0;
      &:first-child {
        margin-top: 1em;
      }
      &:last-child {
        margin-bottom: 1em;
      }
    }

    a {
      display: block;
      color: $thirth;
      line-height: 1.2;
      &:hover, &:active {
        color: $secondary;
      }
    }
  }
}
